In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../data_wedev/data_version_2/signup_data.csv')

In [3]:
df.sample(5)

,user_name,first_name,last_name,date_of_birth,nacionality,phone,email_address,password,employee,employeer
1927,bfranssenipr,Benedicto,Fransseni,21/07/1965,Hmong,2667250338,bfranssenipr@auda.org.au,bAj4uwFw,False,True
400,cplaxtonb4,Cord,Plaxton,10/06/2000,Samoan,5875170607,cplaxtonb4@yolasite.com,2mBnouk,False,True
1214,pcripin5y,Padraig,Cripin,06/09/1997,Cherokee,7967163598,pcripin5y@omniture.com,JrFSNiAlXw,True,False
1645,mmealhamhx,Marys,Mealham,21/12/1970,Choctaw,6943873234,mmealhamhx@vistaprint.com,K7Q7spz,False,True
667,wcrosgroveij,Wenda,Crosgrove,11/11/1993,Lumbee,5552482831,wcrosgroveij@photobucket.com,YPrCRsGOLI,False,True

In [4]:
df.shape

(2000, 10)

In [5]:
df.drop(['first_name','last_name','nacionality','date_of_birth', 'phone', 'email_address', 'employee','employeer'], axis=1, inplace=True)

In [6]:
df.shape

(2000, 2)

In [7]:
i = [i for i in range(2000)]
i = pd.Series(i)
df['id_user']=i

In [8]:
df.shape

(2000, 3)

In [9]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/auths.csv')