In [1]:
import pandas as pd

In [2]:
df_ex_edu= pd.read_csv('../data_wedev/data_useful/salaries-by-college-type.csv')

In [3]:
df_ex_edu.sample(5)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
190,University of Massachusetts (UMass) - Dartmouth,State,"$43,200.00","$77,700.00","$43,300.00","$56,200.00","$107,000.00","$132,000.00"
148,Oregon State University (OSU),State,"$45,100.00","$83,300.00","$46,900.00","$64,000.00","$113,000.00","$146,000.00"
30,University of Iowa (UI),Party,"$44,700.00","$83,900.00","$43,300.00","$61,100.00","$116,000.00","$163,000.00"
214,Florida State University (FSU),State,"$42,100.00","$73,000.00","$39,600.00","$52,800.00","$107,000.00","$156,000.00"
204,University of Arkansas - Monticello (UAM),State,"$39,200.00","$74,500.00","$32,800.00","$46,100.00","$110,000.00","$161,000.00"

In [4]:
df_ex_edu.drop(['Starting Median Salary','Mid-Career Median Salary','Mid-Career 10th Percentile Salary','Mid-Career 25th Percentile Salary', 'Mid-Career 75th Percentile Salary', 'Mid-Career 90th Percentile Salary'],axis=1, inplace=True)

In [7]:
df_ex_edu.shape

(269, 2)

In [8]:
df_ex_edu2= pd.read_csv('../data_wedev/data_useful/degrees-that-pay-back.csv')

In [9]:
df_ex_edu2.sample(5)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"

In [10]:
df_ex_edu2.drop(['Starting Median Salary','Mid-Career Median Salary','Mid-Career 10th Percentile Salary','Mid-Career 25th Percentile Salary', 'Mid-Career 75th Percentile Salary', 'Mid-Career 90th Percentile Salary'],axis=1, inplace=True)

In [12]:
df_ex_edu2.drop(['Percent change from Starting to Mid-Career Salary'],axis=1, inplace=True)

In [13]:
df_ex_edu2.sample(5)

       Undergraduate Major
41               Nutrition
16                   Drama
38  Mechanical Engineering
1    Aerospace Engineering
24               Geography

In [14]:
df_ex_edu2.shape

(50, 1)

In [15]:
df_ex_edu3= pd.read_csv('../data_wedev/data_useful/education_experience.csv')
df_ex_edu4= pd.read_csv('../data_wedev/data_useful/education_experience2.csv')

In [18]:
df_ex_edu4.isnull().count()

degree        1000
university    1000
dtype: int64

In [19]:
education_experience_data=pd.concat([df_ex_edu3, df_ex_edu4])

In [20]:
education_experience_data.shape

(2000, 2)

In [21]:
education_experience_data.to_csv(index=False, path_or_buf = '../data_wedev/data_version_2/education_experience_data.csv')