In [1]:
import pandas as pd

In [2]:
i = [i for i in range(2000)]
df = pd.DataFrame(i)
id_job_offer = pd.Series(i)

In [3]:
df['id_job_offer'] = id_job_offer
df.rename(columns={0:'id_employer'}, inplace=True)

In [4]:
i=[0,1]
import random
status = random.choices(i,k=2000)
df['status'] = status

In [5]:
df.sample(5)

      id_employer  id_job_offer  status
400           400           400       1
442           442           442       1
1467         1467          1467       0
858           858           858       0
1430         1430          1430       1

In [6]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/employers_job_offers.csv')