In [1]:
import pandas as pd

In [2]:
i = [i for i in range(2000)]
df = pd.DataFrame(i)
df.rename(columns={0:'id_user'}, inplace=True)

In [3]:
df.sample(5)

      id_user
1926     1926
1422     1422
1403     1403
143       143
1414     1414

In [ ]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/employers.csv')