In [1]:
import pandas as pd

In [2]:
df_gloc= pd.read_csv('../data_wedev/data_useful/2020_02_25.csv')

In [6]:
df_gloc.drop(['total_cars','cars_list','timestamp'], axis=1, inplace=True)

In [7]:
df_gloc.sample(5)

           latitude  longitude
17268027  32.061358  34.761935
7353833   32.065450  34.798790
19427735  32.098900  34.778000
5334347   32.098603  34.778565
19791299  32.107032  34.821409

In [9]:
df_gloc.shape

(20049198, 2)

#  the city of Tel Aviv

In [10]:
df_gloc.to_csv(index=False, path_or_buf = '../data_wedev/geolocation_data.csv')