In [1]:
import pandas as pd

In [119]:
df_general= pd.read_csv('../data_wedev/data_useful/linkedin.csv')

In [120]:
df_general.sample(5)

,index,category,linkedin,profile_picture,description,Experience,Name,position,location,skills,clean_skills
925,1432,Finance,https://in.linkedin.com/in/narasimhareddyiv,https://media-exp1.licdn.com/dms/image/C4D03AQ...,NaN,Strategy and FinanceCompany NameMoEngage Inc.D...,Narasimha Reddy,Strategy and Finance @ MoEngage Inc,"Bengaluru Area, India","['\nFinancial Modeling\n', '\nValuation\n', '\...","['Financial Modeling', 'Valuation', 'Investmen..."
213,214,Education,https://www.linkedin.com/in/fatihgozuacik,https://media-exp1.licdn.com/dms/image/C5103AQ...,E-portfolio:http://bit.ly/PBLalbums...\n ...,Director of Technology and EducationCompany Na...,"Fatih Gozuacik, M.Ed, MS, MPhys",Director of Technology and Education at Metro ...,"Morton, Pennsylvania","['\nCurriculum Development\n', '\nClassroom\n'...","['Curriculum Development', 'Classroom', 'Teach..."
1216,1723,Aviation,https://in.linkedin.com/in/ankit-jaiswal-3018a067,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,MANAGER OPERATIONS - AVIATIONCompany NameNIRMA...,Ankit Jaiswal,MANAGER OPERATIONS - AVIATION at NIRMA LTD.,"Ahmedabad Area, India","['\nOperations Management\n', '\nAirlines\n', ...","['Operations Management', 'Airlines', 'Aviation']"
138,139,Managment,https://in.linkedin.com/in/anshul-kulshrestha-...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,"ACE COLLEGE OF ENGINEERING AND MANAGEMENT,ETMA...",Anshul Kulshrestha,Student at ACE COLLEGE OF ENGINEERING AND MANA...,"Agra Area, India",[],['']
662,1153,Building & Construction,https://in.linkedin.com/in/babulal-kumawat-155...,https://media-exp1.licdn.com/dms/image/C5103AQ...,NaN,Building contractorCompany NameJalindra Buildi...,Babulal Kumawat,Building contractor at Jalindra Building const...,"Sikar, Rajasthan, India",[],['']

In [121]:
df_general.isnull().sum()

index                0
category             0
linkedin             0
profile_picture     12
description        581
Experience          25
Name                12
position            12
location            12
skills               0
clean_skills         0
dtype: int64

In [122]:
df_general.shape

(1251, 11)

In [123]:
df_general['profile_picture'].fillna(method="ffill", inplace= True)

In [124]:
df_general.isnull().sum()

index                0
category             0
linkedin             0
profile_picture      0
description        581
Experience          25
Name                12
position            12
location            12
skills               0
clean_skills         0
dtype: int64

In [125]:
df_general.drop(['index','linkedin','Name','skills'],axis=1, inplace=True)

In [126]:
df_general.isnull().sum()

category             0
profile_picture      0
description        581
Experience          25
position            12
location            12
clean_skills         0
dtype: int64

In [127]:
df_general.sample(5)

,category,profile_picture,description,Experience,position,location,clean_skills
1078,Architects,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",We have multiple opportunities across Industry...,Senior RecruiterCompany NameBee5 Manpower Cons...,Senior Recruiter at Bee5 Manpower Consulting,"New Delhi, Delhi, India","['Recruiting', 'Screening Resumes', 'Headhunti..."
447,Agricultural,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",NaN,FrutjelCompany NameHarritage Group,Frutjel at Harritage Group,"Nagpur, Maharashtra, India",['']
154,Information Technology,https://media-exp1.licdn.com/dms/image/C5103AQ...,NaN,Web Content EditorCompany NameMinistry of Elec...,--,"South Delhi, Delhi, India","['Content Development', 'Copy Editing', 'Commu..."
1101,Public Relations,https://media-exp1.licdn.com/dms/image/C5103AQ...,Communication and Networking being her core st...,Company NameRoarrr Media & Public RelationsTot...,Founder & Director at Roarrr Media & Public Re...,"Mumbai, Maharashtra, India","['Corporate Communications', 'Market Research'..."
331,Business Development,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Swiss-French computer scientist with over a de...,"Vice President, Corporate and Business Develop...",Head of Corporate and Business Development at ...,"New York, New York","['Financial Modeling', 'Valuation', 'Corporate..."

In [128]:
df_general.drop(['Experience'],axis=1, inplace=True)

In [129]:
df_general.fillna(method="bfill", inplace = True)

In [130]:
df_general.isnull().sum()

category           0
profile_picture    0
description        0
position           0
location           0
clean_skills       0
dtype: int64

In [131]:
df_general.sample(5)

,category,profile_picture,description,position,location,clean_skills
703,Automobile,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Experienced Chief General Manager with a demon...,Leadership role at Bharti Airtel Limited,"Gurgaon, India",['']
1210,Aviation,https://media-exp1.licdn.com/dms/image/C5603AQ...,""" It's my game ,I play to win and I will""",Entrepreneur,"Bengaluru, Karnataka, India","['Entrepreneurship', 'Business Planning', 'Rea..."
36,HR,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",I have undertaken global business projects spa...,"Vice President, Human Resources","Gurgaon, Haryana, India","['Personnel Management', 'Human Resources', 'T..."
362,Health & Fitness,https://media-exp1.licdn.com/dms/image/C5603AQ...,Qualified Personal Trainer and Running CoachMo...,Owner | DNPT Health & Fitness,"Melbourne, Australia",['']
950,Finance,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",HAI I am Veeresh From Tirupur(DOLLAR CITY) we ...,Accounting and finance at ANY Company,"Chikkamagaluru, Karnataka, India",['']

In [108]:
general_data= df_general

In [110]:
general_data.drop(['location','position','clean_skills'], axis=1, inplace=True)

In [111]:
general_data.sample(5)

,category,profile_picture,description
878,Food & Beverages,https://media-exp1.licdn.com/dms/image/C4D03AQ...,hard & smart worker
986,Apparel,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Immense knowledge in the field of Handloom fab...
882,Food & Beverages,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",I Shantanu Chakraborty working as a Director o...
317,Business Development,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Call me on 01933 311980 or email me at: result...
29,HR,https://media-exp1.licdn.com/dms/image/C5603AQ...,I am a firm believer of human potential collec...

In [112]:
general_data.shape

(1251, 3)

In [114]:
general_data.describe(include='all')

,category,profile_picture,description
count,1251,1251,1251
unique,25,699,644
top,Advocate,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Airline professional
freq,53,525,13

In [115]:
general_data['category'].unique()

array(['HR', 'Designing', 'Managment', 'Information Technology',
       'Education', 'Advocate', 'Business Development',
       'Health & Fitness', 'Agricultural', 'BPO', 'Sales', 'Consultant',
       'Digital Media', 'Building & Construction', 'Automobile',
       'Banking', 'Engineering', 'Food & Beverages', 'Finance', 'Apparel',
       'Accountant', 'Architects', 'Public Relations', 'Arts', 'Aviation'],
      dtype=object)

In [137]:
df_loc= pd.read_csv('../data_wedev/data_useful/loc.csv')

In [138]:
df_loc2= pd.read_csv('../data_wedev/data_useful/loc2.csv')

In [139]:
df_loc1=pd.concat([df_loc, df_loc2])

In [146]:
df_loc1.sample(5)

         country  state               ciry
175    Indonesia    NaN    Balekersukamaju
306  Philippines    NaN            Malamig
906     Portugal  Viseu  Ervedosa do Douro
817       Poland    NaN    Wola Filipowska
257        China    NaN            Yacheng

In [143]:
df_loc1.isnull().sum()

country       0
state      1020
ciry          0
dtype: int64

In [166]:
general_data.sample(5)

,category,profile_picture,description
535,Sales,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Set-up Online as a P&L across several companie...
1242,Aviation,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Aero-Business Professional |Independent Consul...
787,Engineering,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Promoting basic research in Science and Engine...
1120,Public Relations,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Ronn Torossian is the founder and CEO of 5W Pu...
903,Finance,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Experienced Assistant Manager with a demonstra...

In [168]:
general_data.to_csv(index=False, path_or_buf = '../data_wedev/general_data.csv')

In [167]:
general_data.shape

(1251, 3)

In [154]:
df_loc1.shape

(1251, 3)

ValueError: Shape of passed values is (1502, 6), indices imply (1251, 6)