In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../data_wedev/data_version_2/job_offer.csv')

In [4]:
df.sample(5)

,category,title,requariments,schedule,payment_max,payment_min,modality
417,Agricultural,Farmer and Agricultural & Equestrian Contracto...,"['agriculture', 'Equestrian', 'Groundworks', '...",1/10/2021,$15.91,$59.77,A_distancia
1121,Public Relations,Director of Public RelationsCompany NameElemen...,"['Public Relations', 'Marketing Communications...",3/11/2021,$1.74,$96.84,A_distancia
72,Designing,architecteCompany NameEDO ARCHITECUTRE AND DES...,"['Architectural Design', 'Graphic Design', 'Pr...",10/7/2020,$32.61,$52.15,A_distancia
1020,Accountant,Senior AccountantCompany NameABC Tax and Accou...,"['Account Reconciliation', 'Accounting', 'Audi...",2/23/2021,$7.80,$92.24,Precencial
125,Managment,ManagerCompany NameMulticultural Marketing and...,"['Public Relations', 'Social Media', 'Social M...",11/16/2020,$18.00,$63.35,A_distancia

In [5]:
df.shape

(1251, 7)

In [6]:
df2 = df

In [7]:
df3 = pd.concat([df, df2])

In [8]:
df3.shape

(2502, 7)

In [9]:
df4 = df3.iloc[:2000]

In [10]:
df4.shape

(2000, 7)

In [ ]:
#id_search, short_description, long_description
#salary_range1
#position  , employer_name ,description eliminar de base de datos

In [11]:
i = [i for i in range(2000)]
id_search = pd.Series(i)
df4['id_search'] = id_search

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
df4.shape

(2000, 8)

In [13]:
df4.rename(columns={'payment_max':'salary_range1','payment_min':'salary_range2'}, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
df5= pd.read_csv('../data_wedev/data_useful/description1.csv')

In [15]:
df6= pd.read_csv('../data_wedev/data_useful/description2.csv')

In [16]:
df7 = pd.concat([df5, df6])

In [17]:
df7.shape

(2000, 2)

In [19]:
df7.isnull().count()

short_description    2000
long_description     2000
dtype: int64

In [20]:
result = pd.merge(df4.reset_index(),
                  df7.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [23]:
result.head(5)

,category,title,requariments,schedule,salary_range1,salary_range2,modality,id_search,short_description,long_description
0,HR,Senior Vice President & Head of HRCompany Name...,"['Performance Management', 'Human Resources', ...",3/8/2021,$33.21,$97.59,A_distancia,0,modular,transition compelling models
1,HR,Head of Talent Acquisition - India & APAC and ...,"['Talent Acquisition', 'Employee Engagement', ...",4/29/2021,$41.94,$76.31,Precencial,1,Implemented,engineer interactive platforms
2,HR,Company NameIBM INDIA Pvt LtdTotal Duration8 y...,"['Human Resources', 'Recruiting', 'Team Manage...",9/1/2021,$26.24,$95.85,Mixto,2,process improvement,generate frictionless deliverables
3,HR,HR/Admin/Personnel/LegalCompany NameHR and HR ...,[''],4/30/2021,$35.55,$52.16,A_distancia,3,system-worthy,evolve 24/7 vortals
4,HR,Company NameEXLTotal Duration6 yrs 4 mosTitleV...,"['Team Management', 'Human Resources', 'Employ...",2/13/2021,$43.04,$52.93,Precencial,4,Assimilated,revolutionize extensible content

In [22]:
result.drop(['index_x','index_y'],axis=1, inplace=True)