In [1]:
import pandas as pd

In [2]:
df_loc= pd.read_csv('../data_wedev/data_useful/loc.csv')
df_loc2= pd.read_csv('../data_wedev/data_useful/loc2.csv')

In [3]:
df_loc1=pd.concat([df_loc, df_loc2])

In [10]:
df_loc1.sample(5)

      country           city          state
208     China       Gongnong       Gongnong
548  Thailand        Lap Lae        Lap Lae
943    Brazil  Medeiros Neto  Medeiros Neto
294     China        Danyang        Danyang
850     China          Xuhui          Xuhui

In [5]:
df_loc1['satate2'] = df_loc1['ciry']

In [7]:
df_loc1.drop(['state'], axis=1, inplace=True)

In [9]:
df_loc1.rename(columns={'ciry':'city','satate2':'state'}, inplace=True)

In [11]:
df_loc1.to_csv(index=False, path_or_buf = '../data_wedev/location_data.csv')