In [1]:
import pandas as pd

In [5]:
df= pd.read_csv('../data_wedev/data_version_2/job_offer.csv')

In [6]:
df.sample(5)

,category,title,requariments,schedule,payment_max,payment_min,modality
316,Business Development,Senior Advisor - Business Development and Mark...,"['Business Development', 'Strategy', 'Marketin...",5/10/2021,$25.35,$91.45,Precencial
344,Business Development,Business Development ExecutiveCompany NameHara...,"['Microsoft Office', 'Customer Service', 'Mana...",6/12/2021,$17.15,$77.12,Precencial
992,Apparel,cmdCompany NameTextile and ApparelDates Employ...,"['Microsoft Excel', 'Management', 'Business St...",1/12/2021,$1.28,$69.59,A_distancia
1133,Public Relations,Communications and Public Affairs ManagerCompa...,"['Reputation Management', 'Crisis Management',...",2/21/2021,$28.00,$81.92,A_distancia
862,Food & Beverages,BusinessheadCompany NamePureShot Food & Bevera...,[''],2/18/2021,$14.12,$56.00,A_distancia

In [7]:
df.drop(['requariments','title','schedule','modality','payment_max','payment_min'],axis=1, inplace=True)

In [8]:
df.sample(5)

                  category
318   Business Development
831             Automobile
880       Food & Beverages
1046            Accountant
398       Health & Fitness

In [9]:
df.shape

(1251, 1)

In [11]:
i = [i for i in range(1251)]
users = pd.Series(i)

In [13]:
job_offer_data = pd.get_dummies(df)

In [14]:
job_offer_data.shape

(1251, 25)

In [15]:
job_offer_data['user_id'] = users

In [16]:
job_offer_data.shape

(1251, 26)

In [17]:
job_offer_data.head(5)

,category_Accountant,category_Advocate,category_Agricultural,category_Apparel,category_Architects,category_Arts,category_Automobile,category_Aviation,category_BPO,category_Banking,...,category_Engineering,category_Finance,category_Food & Beverages,category_HR,category_Health & Fitness,category_Information Technology,category_Managment,category_Public Relations,category_Sales,user_id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,4

In [18]:
job_offer_data.to_csv(index=False, path_or_buf = '../data_wedev/model_data/job_offer_data.csv')