In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('../data_wedev/data_version_2/job_offer.csv')

In [3]:
df.drop(['requariments','title','schedule','modality','payment_max','payment_min'],axis=1, inplace=True)

In [4]:
df.sample(5)

                     category
467                       BPO
1187                     Arts
780                   Banking
612   Building & Construction
500                       BPO

In [5]:
i = [i for i in range(1251)]
job_offers_id = pd.Series(i)

In [6]:
user_data = pd.get_dummies(df)

In [7]:
import random

In [13]:
# random qualification
list_qualifications=[3.0,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0]
qualifications=[]
for i in range(1251):
    qualifications.append(random.choice(list_qualifications))

In [14]:
user_data['qualification'] = qualifications

In [15]:
user_data['user_id'] = job_offers_id

In [16]:
user_data.shape

(1251, 27)

In [17]:
user_data.head(5)

,category_Accountant,category_Advocate,category_Agricultural,category_Apparel,category_Architects,category_Arts,category_Automobile,category_Aviation,category_BPO,category_Banking,...,category_Finance,category_Food & Beverages,category_HR,category_Health & Fitness,category_Information Technology,category_Managment,category_Public Relations,category_Sales,qualification,user_id
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,4.3,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,4.8,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,3.6,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,3.4,3
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,3.7,4

In [18]:
user_data.to_csv(index=False, path_or_buf = '../data_wedev/model_data/user_data.csv')