In [2]:
import pandas as pd

In [3]:
i = [i for i in range(2000)]
df = pd.DataFrame(i)
id_employers_job_offer = pd.Series(i)

In [4]:
df['id_employers_job_offer'] = id_employers_job_offer
df.rename(columns={0:'id_employee'}, inplace=True)

In [5]:
i=[0,1]
import random
status = random.choices(i,k=2000)
df['hired'] = status

In [6]:
df.sample(5)

      id_employee  id_employers_job_offer  hired
1479         1479                    1479      0
1687         1687                    1687      1
1857         1857                    1857      1
1971         1971                    1971      1
143           143                     143      0

In [7]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/postulations.csv')