In [1]:
import pandas as pd

In [2]:
i = [i for i in range(2000)]
df = pd.DataFrame(i)
id_employer = pd.Series(i)

In [3]:
df['id_employer'] = id_employer
df.rename(columns={0:'id_employee'}, inplace=True)

In [5]:
df2= pd.read_csv('../data_wedev/data_useful/comment1.csv')

In [6]:
df3= pd.read_csv('../data_wedev/data_useful/comment2.csv')

In [7]:
df4= pd.concat([df3, df2])

In [8]:
result = pd.merge(df4.reset_index(),
                  df.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [9]:
result.sample(5)

,index_x,comment,index_y,id_employee,id_employer
413,413,strategize next-generation e-services,413,413,413
1468,468,embrace web-enabled niches,1468,1468,1468
1500,500,morph dynamic synergies,1500,1500,1500
1145,145,redefine proactive interfaces,1145,1145,1145
1775,775,scale bleeding-edge schemas,1775,1775,1775

In [2]:
df= pd.read_csv('../data_base/csv/scores.csv')

In [3]:
df.sample()

     id_employee  id_employer                comment
383          383          383  enhance rich eyeballs

In [4]:
import random
list_qualifications=[3.0,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0]
qualifications=[]
for i in range(2000):
    qualifications.append(random.choice(list_qualifications))

In [5]:
df['qualifications'] = qualifications

In [7]:
df.sample(5)

,id_employee,id_employer,comment,qualifications
799,799,799,utilize cutting-edge bandwidth,4.7
113,113,113,reinvent bricks-and-clicks users,4.7
1601,1601,1601,enable granular architectures,4.2
277,277,277,orchestrate proactive initiatives,4.3
1451,1451,1451,matrix turn-key initiatives,3.9

In [8]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/scores.csv')