In [15]:
import pandas as pd

In [16]:
i = [i for i in range(2000)]
df = pd.DataFrame(i)

In [17]:
df.rename(columns={0:'id_user'}, inplace=True)

In [18]:
languages=[28,36,48,49,50,51,52,53,54,56,57,58,73,90,95,97,144]

In [19]:
import random
id_languages = random.choices(languages,k=2000)

In [20]:
df['id_language'] = id_languages

In [21]:
df.sample(5)

      id_user  id_language
782       782           50
1127     1127           51
1649     1649           51
56         56           95
1783     1783           97

In [22]:
df.shape

(2000, 2)

In [23]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/users_languages.csv')