In [1]:
import pandas as pd

In [21]:
i = [i for i in range(500)]

In [23]:
import random

In [24]:
j=[]
for num in i:
    j.append(random.choice(i))

In [14]:
df = pd.DataFrame(i)

In [25]:
id_user_to = pd.Series(j)

In [26]:
df['id_user_to'] = id_user_to

In [27]:
df.sample(5)

     id_user_from  id_user_to
155           155         342
127           127          39
404           404         461
23             23         451
47             47         474

In [ ]:
df.loc.

In [17]:
df.rename(columns={0:'id_user_from'}, inplace=True)

In [29]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/user_follows.csv')