In [1]:
import pandas as pd

In [2]:
i = [i for i in range(2000)]
df = pd.DataFrame(i)

In [3]:
id_user = pd.Series(i)

In [4]:
df['id_user'] = id_user

In [5]:
df.rename(columns={0:'id_post'}, inplace=True)

In [6]:
df.sample(5)

      id_post  id_user
325       325      325
1979     1979     1979
889       889      889
154       154      154
459       459      459

In [ ]:
df.to_csv(index=False, path_or_buf = '../data_base/csv/users_likes.csv')