In [52]:
import pandas as pd

In [2]:
df= pd.read_csv('../data_wedev/data_version_2/signup_data.csv')

In [5]:
df.sample(5)

,user_name,first_name,last_name,date_of_birth,phone,email_address,password,employee,employeer
516,gcollopyec,Gerhardine,Collopy,12/03/1980,1223464570,gcollopyec@skype.com,U2mOTUsDni,False,True
1345,jossenna9l,Joelly,Ossenna,24/05/1994,9927320124,jossenna9l@uol.com.br,LwdyRQ,True,False
438,tdomelowc6,Theobald,Domelow,15/04/2000,2476038456,tdomelowc6@princeton.edu,XmXIro8Ai77,False,True
200,jtreen5k,Jehu,Treen,22/01/1969,4219191236,jtreen5k@vistaprint.com,bF5GmWJsUWDt,True,False
1857,jskyppnt,Jenine,Skypp,28/10/1962,7457587336,jskyppnt@ca.gov,6SxAKWV4,True,False

In [ ]:
#description,avatar,latitud,longitude

In [11]:
df.drop(['password'], axis=1, inplace=True)

In [4]:
df.drop(['nacionality'], axis=1, inplace=True)

In [6]:
df.shape

(2000, 9)

In [7]:
i = [i for i in range(2000)]

In [8]:
id_city = pd.Series(i)
id_work_area = pd.Series(i)

In [9]:
df['id_city'] = id_city
df['id_work_area'] = id_work_area

In [12]:
df.sample(5)

,user_name,first_name,last_name,date_of_birth,phone,email_address,employee,employeer,id_city,id_work_area
545,khargeyf5,Karlotte,Hargey,27/04/1977,5509896778,khargeyf5@yellowpages.com,True,False,545,545
572,vpettegrefw,Vilma,Pettegre,02/11/1986,5851631556,vpettegrefw@jigsy.com,False,True,572,572
813,cbrusbyml,Cob,Brusby,05/03/1992,7789345107,cbrusbyml@flavors.me,False,True,813,813
884,vspeaksok,Virgie,Speaks,21/08/1982,7532405291,vspeaksok@alibaba.com,True,False,884,884
440,mcottyc8,Melisandra,Cotty,01/07/1995,7736622737,mcottyc8@nyu.edu,False,True,440,440

In [13]:
df2= pd.read_csv('../data_wedev/data_version_2/general_data.csv')

In [17]:
df2.sample(5)

,profile_picture,description
628,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...","As a founder of Stark Digital Media Services, ..."
783,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Promoting basic research in Science and Engine...
1029,https://media-exp1.licdn.com/dms/image/C4E03AQ...,I take pride in taking an active interest in w...
128,https://media-exp1.licdn.com/dms/image/C5103AQ...,..... see more
942,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",A competent professional with over 16 years of...

In [19]:
df2.shape

(1251, 2)

In [16]:
df2.drop(['category'], axis=1, inplace=True)

In [20]:
df3 = df2

In [21]:
df4= pd.concat([df3, df2])

In [22]:
df4.sample(5)

,profile_picture,description
1058,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",SWAN Design and ARCHITECTSFrom its inception i...
539,https://media-exp1.licdn.com/dms/image/C5103AQ...,Honest and motivated employee with a proven tr...
74,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Professional Qualification: MCA [Full Time fro...
1130,https://media-exp1.licdn.com/dms/image/C5103AQ...,An open-minded and results - driven profession...
475,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...","Global Leader, over 25 years of experience wit..."

In [23]:
df4.shape

(2502, 2)

In [31]:
df4.iloc[:2000]

,profile_picture,description
0,https://media-exp1.licdn.com/dms/image/C5603AQ...,"An experienced HR professional, HR mentor and..."
1,https://media-exp1.licdn.com/dms/image/C5103AQ...,"Head Talent Acquisition, HR Leader and Strateg..."
2,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",A Talent Acquisition and HR professional with ...
3,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Over 18 Years of experience in IT /ITES / BPO...
4,https://media-exp1.licdn.com/dms/image/C5103AQ...,Over 18 Years of experience in IT /ITES / BPO...
...,...,...
744,https://media-exp1.licdn.com/dms/image/C4E03AQ...,"My PhD is on theoretical analysis, complexity ..."
745,https://media-exp1.licdn.com/dms/image/C5103AQ...,"With Citi TTS for last 10 years across Mumbai,..."
746,https://media-exp1.licdn.com/dms/image/C5603AQ...,"With Citi TTS for last 10 years across Mumbai,..."
747,https://media-exp1.licdn.com/dms/image/C5103AQ...,CURRICULUM VITAE
748,https://media-exp1.licdn.com/dms/image/C4D03AQ...,CURRICULUM VITAE

In [32]:
df5 = df4.iloc[:2000]

In [33]:
df5.shape

(2000, 2)

In [34]:
df.shape

(2000, 10)

In [35]:
df6= pd.read_csv('../data_wedev/data_version_2/geolocation_data.csv')

In [36]:
df7 = df6.iloc[:2000]

In [37]:
df7.shape

(2000, 2)

In [38]:
result = pd.merge(df5.reset_index(),
                  df.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [39]:
result.shape

(2000, 14)

In [42]:
result.sample(5)

,profile_picture,description,user_name,first_name,last_name,date_of_birth,phone,email_address,employee,employeer,id_city,id_work_area
1373,https://media-exp1.licdn.com/dms/image/C5603AQ...,Seeking a position to utilize my skills and ab...,jlezemeread,Jodi,Lezemere,18/05/1974,9943846919,jlezemeread@ucoz.com,True,False,1373,1373
1910,https://media-exp1.licdn.com/dms/image/C5103AQ...,Our young and passionate team of digital marke...,gbergerpa,Gaspar,Berger,23/07/1962,7425701969,gbergerpa@seesaa.net,False,True,1910,1910
426,https://media-exp1.licdn.com/dms/image/C4E03AQ...,As being a student at Southern University and ...,aclitheroebu,Aprilette,Clitheroe,18/12/1963,3354957855,aclitheroebu@icio.us,True,False,426,426
789,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Intended to build a career with leading corpor...,lfreanlx,Laverna,Frean,08/08/1974,2494281099,lfreanlx@trellian.com,True,False,789,789
1917,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",A digital storyteller and brand professional w...,tleiferph,Temp,Leifer,14/06/1997,2988284786,tleiferph@cisco.com,False,True,1917,1917

In [41]:
result.drop(['index_x','index_y'],axis=1, inplace=True)

In [43]:
result2 = pd.merge(result.reset_index(),
                  df7.reset_index(), 
                  left_index=True, 
                  right_index=True)

In [47]:
result2.drop(['index_x','index_y'],axis=1, inplace=True)

In [57]:
result2.sample(5)

,profile_picture,description,user_name,first_name,last_name,date_of_birth,phone,email_address,employee,employeer,latitude,longitude,id_work_area
916,https://media-exp1.licdn.com/dms/image/C4D03AQ...,Experienced CSR with 4.5 years of experience w...,smcnerlinpg,Suzanna,McNerlin,30/12/1983,1978591859,smcnerlinpg@usgs.gov,False,True,32.066829,34.783039,10
1188,https://media-exp1.licdn.com/dms/image/C5603AQ...,Key Strengths and Core Competencies:,wjouhning58,Wandis,Jouhning,04/07/1965,4281287352,wjouhning58@virginia.edu,True,False,32.063670,34.778960,25
1720,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...","Global Leader, over 25 years of experience wit...",dwillartonk0,Darbie,Willarton,26/10/1962,8235147790,dwillartonk0@ehow.com,False,True,32.052560,34.804630,10
638,https://media-exp1.licdn.com/dms/image/C5103AQ...,HOMES FOR LIFE,hbehanhq,Hester,Behan,12/12/1999,5048864768,hbehanhq@irs.gov,False,True,32.076217,34.771447,14
1442,https://media-exp1.licdn.com/dms/image/C5103AQ...,Performance driven senior executive with over ...,ishelpca,Inesita,Shelp,03/09/1973,5373499561,ishelpca@google.cn,True,False,32.096090,34.792110,7

In [49]:
result2.shape

(2000, 14)

In [54]:
result2.drop(['id_city','id_work_area'],axis=1, inplace=True)

In [55]:
i = [i for i in range(26)]
import random
id_work_area = random.choices(i,k=2000)
result2['id_work_area'] =id_work_area

In [51]:
result2.to_csv(index=False, path_or_buf = '../data_base/csv/users.csv')

In [60]:
i = [i for i in range(213)]
len(i)

213

In [61]:
id_city = random.choices(i,k=2000)
result2['id_city'] =id_city

In [62]:
result2.sample(5)

,profile_picture,description,user_name,first_name,last_name,date_of_birth,phone,email_address,employee,employeer,latitude,longitude,id_work_area,id_city
381,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",Motivational manager & Personal Trainer who le...,bzanottial,Beverly,Zanotti,22/05/1977,5404406439,bzanottial@disqus.com,True,False,32.128010,34.830450,18,153
1020,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP//...",•\tA qualified accounting professional and tax...,vyardyk,Vassily,Yardy,26/12/2001,8653410757,vyardyk@mit.edu,False,True,32.089773,34.790547,8,193
97,https://media-exp1.licdn.com/dms/image/C4E03AQ...,Accredited Diamond Jewellery Professional dedi...,aperkis2p,Alexine,Perkis,12/07/1983,1176357371,aperkis2p@ow.ly,True,False,32.143070,34.797270,17,144
1087,https://media-exp1.licdn.com/dms/image/C5603AQ...,"As an Architect, I believe that design can mak...",fbreede2f,Fidel,Breede,25/09/1974,9558707522,fbreede2f@discovery.com,False,True,32.071247,34.779381,10,112
1460,https://media-exp1.licdn.com/dms/image/C4E03AQ...,AboutNational Training And Education...\n ...,tdoogoodcs,Torre,Doogood,11/01/1987,1367118759,tdoogoodcs@washington.edu,False,True,32.035070,34.750610,9,21

In [63]:
result2.to_csv(index=False, path_or_buf = '../data_base/csv/users.csv')