In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
df= pd.read_csv('../data_wedev/model_data/user_data.csv')

In [7]:
x=df.drop(['user_id'], axis=1)

In [8]:
y=df['user_id']

In [9]:
x.sample(5)

,category_Accountant,category_Advocate,category_Agricultural,category_Apparel,category_Architects,category_Arts,category_Automobile,category_Aviation,category_BPO,category_Banking,...,category_Engineering,category_Finance,category_Food & Beverages,category_HR,category_Health & Fitness,category_Information Technology,category_Managment,category_Public Relations,category_Sales,qualification
546,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3.7
809,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,4.9
474,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3.5
878,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,4.6
1010,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0

In [10]:
x.shape

(1251, 26)

In [11]:
y.shape

(1251,)

In [13]:
# models
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNetCV
from sklearn.linear_model import Ridge
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import VotingRegressor
#tools
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [14]:
X_train,X_test, y_train,y_test = train_test_split(x,y, random_state=1)

In [15]:
reg1 = LinearRegression()
reg2 = Lasso()
reg3 = ElasticNetCV()
#reg4 = GradientBoostingRegressor(random_state=1, n_estimators=10)
#reg5 = RandomForestRegressor(random_state=1, n_estimators=10)
ereg = VotingRegressor(estimators=[('gb', reg1), ('rf', reg2), ('lr', reg3)])
ereg = ereg.fit(X_train, y_train)

In [16]:
y_predict = ereg.predict(X_test)

In [17]:
ereg.score(X_test, y_test)

0.9725195899059179

In [18]:
ereg.score(X_train, y_train)

0.9738952807231249

In [19]:
linear_loss = mean_squared_error(y_test, y_predict)

In [20]:
print("Linear Loss:", linear_loss)

Linear Loss: 3508.920927203078